/*1ero Utilities*/
/*2do Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*3ero Layout*/
header {
  background-color: black;
  width: 100%;
  height: 20%;
  max-height: 105px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: italic;
  padding: 0px 10px;
  display: flex;
}
header img {
  margin: 2% 10%;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 2rem;
  font-weight: 800;
  padding: 0px 10px;
}
.navbar-nav .nav-link:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
}

.navbar-toggler-icon {
  padding: 20px;
  border-radius: 5px;
  color: rgba(210, 10, 10, 0.4);
  font-size: 3rem;
  filter: invert(13%) sepia(100%) saturate(7473%) hue-rotate(358deg) brightness(100%) contrast(119%);
}

footer {
  width: 100%;
  background-color: black;
  margin-bottom: 0px;
  margin-top: auto;
}
footer .redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
footer .redes .red picture img {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.top-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-main h2 {
  color: black;
  font-size: 4rem;
}
.top-main img {
  width: 100%;
}

.noticias-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.noticias-index .grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item1 item2 item2 item3 item3 item4 item4 " "item5 item6 item7 item8 item9 item10 item11 item12";
  padding: 20px 10px;
  align-items: center;
  justify-items: center;
  width: 95%;
  box-shadow: 0px 0px 10px gray;
  margin-top: 20px;
  background: linear-gradient(to top, rgb(255, 46, 46), rgb(255, 154, 161));
}
.noticias-index .grid-container img {
  width: 100%;
  object-fit: contain;
}
.noticias-index .grid-container h3, .noticias-index .grid-container h4 {
  font-size: 1.1rem;
  font-family: "Annapurna SIL", serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  margin: 0px 5px;
  text-align: center;
}
.noticias-index .grid-container .item1, .noticias-index .grid-container .item2, .noticias-index .grid-container .item3, .noticias-index .grid-container .item4 {
  line-height: 20px;
}
.noticias-index .grid-container .item1 h3, .noticias-index .grid-container .item2 h3, .noticias-index .grid-container .item3 h3, .noticias-index .grid-container .item4 h3 {
  font-weight: 700;
}
.noticias-index .grid-container .item5, .noticias-index .grid-container .item7, .noticias-index .grid-container .item9, .noticias-index .grid-container .item11 {
  background: linear-gradient(to left, rgba(210, 10, 10, 0.7), rgba(210, 10, 10, 0.1));
  margin-left: 5px;
  background-color: black;
}
.noticias-index .grid-container .item6, .noticias-index .grid-container .item8, .noticias-index .grid-container .item10, .noticias-index .grid-container .item12 {
  background: linear-gradient(to right, rgba(210, 10, 10, 0.7), rgba(210, 10, 10, 0.1));
  margin-right: 5px;
  background-color: black;
}
.noticias-index .grid-container .item1 {
  grid-area: item1;
}
.noticias-index .grid-container .item2 {
  grid-area: item2;
}
.noticias-index .grid-container .item3 {
  grid-area: item3;
}
.noticias-index .grid-container .item4 {
  grid-area: item4;
}
.noticias-index .grid-container .item5 {
  grid-area: item5;
}
.noticias-index .grid-container .item6 {
  grid-area: item6;
}
.noticias-index .grid-container .item7 {
  grid-area: item7;
}
.noticias-index .grid-container .item8 {
  grid-area: item8;
}
.noticias-index .grid-container .item9 {
  grid-area: item9;
}
.noticias-index .grid-container .item10 {
  grid-area: item10;
}
.noticias-index .grid-container .item11 {
  grid-area: item11;
}
.noticias-index .grid-container .item12 {
  grid-area: item12;
}
.noticias-index h2 {
  color: rgb(255, 255, 255);
  background-color: rgb(210, 10, 10);
  padding: 60px 15px 15px 15px;
  margin: 0px 15px 15px 15px;
  font-size: 2rem;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-weight: 800;
}
.noticias-index .fila-noticias {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  height: auto;
  margin: 20px 0px;
  width: 90%;
  flex-wrap: wrap;
}
.noticias-index .col-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.noticias-index .col-noticias .noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 330px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 0px 10px gray;
  border: 5px r silver;
  margin: 15px 10px;
}
.noticias-index .col-noticias .noticia a, .noticias-index .col-noticias .noticia p, .noticias-index .col-noticias .noticia h2, .noticias-index .col-noticias .noticia h3 {
  margin: 10px;
}
.noticias-index .col-noticias .noticia h3 {
  font-family: "Times New Roman", serif;
  font-weight: 700;
  text-align: center;
}
.noticias-index .col-noticias .noticia a {
  margin-top: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding-top: 15px;
  color: gray;
  text-decoration: none;
}
.noticias-index .col-noticias .noticia h2 {
  font-size: 2rem;
  text-align: center;
}
.noticias-index .col-noticias .noticia p {
  font-size: 1.5rem;
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.noticias-index .col-noticias .noticia img {
  width: 100%;
  margin-top: 0px;
}

.noticias {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.noticias img {
  width: 600px;
  object-fit: contain;
}
.noticias h2, .noticias h3, .noticias td, .noticias th, .noticias p {
  color: black;
}
.noticias h2 {
  text-align: center;
  font-size: 2rem;
}
.noticias p {
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 10px 5px;
}
.noticias .columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 50%;
  margin: 0px 50px auto 50px;
  gap: 10px;
}
.noticias .columna .noticia-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 30px 15px 30px 15px;
  margin: 10px 0px;
  box-shadow: 0px 0px 20px silver;
}
.noticias .columna .noticia-vertical h2 {
  margin-top: 10px;
  font-family: "Times New Roman", serif;
  font-weight: 700;
}
.noticias .columna .noticia-vertical img {
  width: 95%;
  object-fit: contain;
}
.noticias .columna .noticia-vertical p {
  margin-top: 5px;
}
.noticias .columna .noticia-vertical table tr td {
  padding: 10px 0px;
}
.noticias .columna .noticia-vertical iframe {
  margin: 10px 10px;
}

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0px 15px;
  flex-wrap: wrap;
}
.about-us .puntos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 45%;
  margin: 20px 10px 20px 10px;
  padding: 0px;
}
.about-us .puntos .punto {
  margin: 20px 0px;
  width: 100%;
}
.about-us .puntos .punto h2 {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  display: inline;
  text-align: center;
  color: rgb(210, 10, 10);
  font-size: 2.3rem;
  padding: 5px 20px;
  border-radius: 5px;
}
.about-us .puntos .punto p {
  font-size: 1.5rem;
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
}
.about-us .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(210, 10, 10, 0.8);
  width: 45%;
  margin: 50px 0px;
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../assets/img/ufc-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 15px;
}
.about-us .formulario h2 {
  margin-top: 20px;
  font-weight: 1000;
  font-size: 2rem;
  color: black;
}
.about-us .formulario .inputs {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 80%;
  padding: 10px 30px;
}
.about-us .formulario .inputs textarea, .about-us .formulario .inputs input {
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(210, 10, 10, 0.9);
}
.about-us .formulario .inputs textarea:focus, .about-us .formulario .inputs input:focus {
  background-color: rgba(210, 10, 10, 0.2);
  border-bottom: none;
}
.about-us .formulario .inputs textarea::placeholder, .about-us .formulario .inputs input::placeholder {
  color: gray;
  font-size: 20px;
}
.about-us .formulario .inputs label {
  font-size: 1.5rem;
  font-weight: 400;
}
.about-us .formulario .inputs .btn {
  background-color: rgba(210, 10, 10, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.about-us .formulario .inputs .btn:hover {
  background-color: #cc0000;
}

.ranking-section .h1-ranking {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 80px;
  text-align: center;
  margin: 15px 0px;
  color: rgb(210, 10, 10);
}
.ranking-section .fila-ranking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 10px;
  gap: 30px 0px;
  flex-wrap: wrap;
}
.ranking-section .fila-ranking .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 850px;
  margin: 0px 15px;
  box-shadow: 0px 0px 10px silver;
}
.ranking-section .fila-ranking .card ol {
  padding: 15px 15px;
}
.ranking-section .fila-ranking .card ol li {
  color: rgb(76, 76, 76);
  line-height: 25px;
  margin-bottom: 10px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
}
.ranking-section .fila-ranking .card ol li::marker {
  font-weight: bold;
}
.ranking-section .fila-ranking .card h2, .ranking-section .fila-ranking .card h3 {
  margin-bottom: -20px;
}
.ranking-section .fila-ranking .card h2 {
  color: black;
  text-align: right;
  margin-left: auto;
  font-size: 48px;
  margin-right: 10px;
}
.ranking-section .fila-ranking .card h3 {
  color: rgb(210, 10, 10);
  text-align: left;
  margin-right: auto;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}
.ranking-section .fila-ranking .card h2, .ranking-section .fila-ranking .card h4 {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
.ranking-section .fila-ranking .card .nombre-peso {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 0px 0px 10px 0px;
  margin: 0px;
}
.ranking-section .fila-ranking .card .nombre-peso h3 {
  margin: 10px 0px 0px 10px;
  font-size: 12px;
}
.ranking-section .fila-ranking .card .nombre-peso h2 {
  margin-right: 10px;
  height: 60px;
}
.ranking-section .fila-ranking .card h4 {
  color: gray;
  text-align: right;
  margin-left: auto;
  margin-top: 10px;
  padding: 0px 10px;
}
.ranking-section .fila-ranking .card img {
  width: 100%;
  object-fit: contain;
  margin-top: -51px;
}
.ranking-section .fila-ranking .card .libra-x-libra {
  margin-top: -17px;
}

.peleadores .h1-records {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 80px;
  text-align: center;
  margin: 15px 0px;
  color: rgb(210, 10, 10);
}
.peleadores .peleador {
  height: 531px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../assets/img/ufc-logo.png");
  background-position: center;
  background-repeat: no-repeat;
}
.peleadores .peleador .columna-centrada {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0px 10px 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.peleadores .peleador .columna-centrada ul {
  list-style-type: none;
}
.peleadores .peleador .columna-centrada ul li {
  margin-bottom: 50px;
  text-align: center;
  color: white;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 15px;
}
.peleadores .peleador .columna-centrada h3 {
  color: rgb(210, 10, 10);
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0px;
}
.peleadores .peleador .columna-hacia-izq {
  height: 100%;
  width: 45%;
  margin: 30px 10px 10px 30px;
  padding: 10px 0px;
}
.peleadores .peleador .columna-hacia-izq h2, .peleadores .peleador .columna-hacia-izq p, .peleadores .peleador .columna-hacia-izq h3 {
  text-align: left;
}
.peleadores .peleador .columna-hacia-izq h3 {
  font-size: 2.5rem;
  line-height: 40px;
  margin: 10px 0px;
}
.peleadores .peleador h3, .peleadores .peleador p {
  color: white;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
}
.peleadores h2 {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  line-height: 100px;
  color: white;
}
.peleadores p {
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: white;
}
.peleadores img {
  height: 100%;
  object-fit: contain;
}
.peleadores h3 {
  color: rgb(210, 10, 10);
}

.videos .videos-record {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/img/ufc-logo.png);
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.videos .videos-record .video {
  width: 50%;
  height: 100%;
  margin: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videos .videos-record .video h2, .videos .videos-record .video h3 {
  color: white;
  text-align: center;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
.videos .videos-record .video h2 {
  margin-bottom: -10px;
  line-height: 50px;
  font-size: 40px;
}
.videos .videos-record .video h3 {
  font-size: 25px;
}
.videos .videos-record .video .titulo-video {
  padding: 10px;
  color: rgb(210, 10, 10);
  font-size: 48px;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
}
.videos .videos-record .video .titulo-video {
  color: rgb(210, 10, 10);
  font-size: 48px;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
}
.videos .videos-record .video iframe {
  margin: 0px 30px;
  align-items: center;
  width: 70%;
  height: 60%;
  object-fit: contain;
  margin-bottom: 60px;
  padding: 5px;
  background-color: rgb(210, 10, 10);
}
.videos .videos-columna {
  background: linear-gradient(rgb(0, 0, 0.9), rgb(0, 0, 0.9));
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.videos .videos-columna .titulo-video {
  color: rgb(210, 10, 10);
  font-size: 48px;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
}
.videos .videos-columna h3 {
  margin-top: 10px;
}
.videos .videos-columna .videos-record {
  height: 520px;
}
.videos .videos-columna .videos-record .video iframe {
  margin: 0px 30px;
  align-items: center;
  width: 100%;
  height: 460%;
  object-fit: contain;
  margin-bottom: 60px;
  padding: 5px;
  background-color: rgb(210, 10, 10);
}

/*4to Components*/
/*5to todo lo de mediaQ*/
@media (max-width: 1400px) {
  /* Nosotros */
  .about-us .puntos .punto h2 {
    font-size: 1.7rem;
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* Fin Nosotros */
  /* Records */
  .peleadores img {
    margin-left: -50px;
  }
  .peleadores .peleador .columna-centrada {
    margin-left: -150px;
  }
  .peleadores .peleador .columna-centrada h3 {
    font-size: 2rem;
  }
  .peleadores .peleador .columna-centrada ul li {
    font-size: 1.5rem;
  }
  .peleadores .peleador .columna-hacia-izq h2 {
    font-size: 5rem;
    line-height: 85px;
  }
}
@media (max-width: 1024px) {
  /* Index */
  .index .noticias-index h2 {
    font-size: 25px;
  }
  .index .noticias-index .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "item1 item1 item2 item2" "item5 item6 item7 item8" "item4 item4 item3 item3" "item9 item10 item11 item12";
    width: 80%;
    row-gap: 10px;
  }
  .index .noticias-index .fila-noticias {
    width: 90%;
  }
  .index .noticias-index .fila-noticias .col-noticias {
    padding: 0px;
  }
  /* Fin Index */
  /* I Rankings */
  .ranking-section .h1-ranking {
    font-size: 50px;
  }
  .ranking-section .fila-ranking {
    flex-wrap: wrap;
    gap: 30px 10px;
  }
  .ranking-section .fila-ranking .card {
    width: 300px;
    height: 820px;
  }
  .ranking-section .fila-ranking .card h3 {
    font-size: 16px;
  }
  .ranking-section .fila-ranking .card .nombre-peso h3 {
    margin: 10px;
  }
  .ranking-section .fila-ranking .card .nombre-peso h2 {
    margin-right: 10px;
  }
  .ranking-section .fila-ranking .card h2 {
    font-size: 2.5rem;
  }
  /* Fin Ranking */
  /* Inicio Nosotros */
  .about-us {
    flex-direction: column;
    width: 90%;
    margin-top: 5px;
    padding: 20px 20px;
  }
  .about-us .puntos {
    width: 90%;
    align-items: center;
    margin: 10px 0px;
  }
  .about-us .puntos .punto {
    margin: 10px 0px;
    padding: 0px;
  }
  .about-us .puntos .punto p {
    font-size: 1.5rem;
    margin: 15px 0px;
  }
  .about-us .formulario {
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../assets/img/ufc-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0px;
    width: 90%;
  }
  /* Fin Nosotros */
  /* Inicio Records */
  .peleadores img {
    height: 100%;
    width: 90%;
    margin-left: -120px;
  }
  .peleadores .peleador {
    height: 450px;
    background-size: 120% 100%;
  }
  .peleadores .peleador .columna-hacia-izq {
    margin: 0px;
    padding: 20px 0px;
    margin-left: 15px;
  }
  .peleadores .peleador .columna-hacia-izq h2 {
    font-size: 4rem;
    line-height: 60px;
    margin-top: 15px;
  }
  .peleadores .peleador .columna-hacia-izq h3 {
    margin: 0px 10px;
  }
  .peleadores .peleador h3 {
    margin: 20px 0px;
    font-size: 2rem;
  }
  .peleadores .peleador .columna-centrada {
    margin-left: -150px;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .peleadores .peleador .columna-centrada ul li {
    font-size: 1.5rem;
  }
  .peleadores .peleador ul li {
    margin: 20px 0px;
  }
  .videos .videos-record {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .videos .videos-record .video {
    width: 45%;
    margin: 20px 10px;
  }
  .videos .videos-record .video .titulo-video, .videos .videos-record .video h2 {
    font-size: 2rem;
  }
  .videos .videos-columna .videos-record {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .videos .videos-columna .videos-record .video {
    width: 45%;
    margin: 20px 10px;
  }
  .videos .videos-columna .videos-record .video .titulo-video, .videos .videos-columna .videos-record .video h2 {
    font-size: 2rem;
  }
  .videos .videos-columna .videos-record .video iframe {
    width: 90%;
    margin: 0;
  }
  .videos .videos-columna .titulo-video {
    font-size: 3rem;
    text-align: center;
    margin: 10px 20px;
  }
  /* Fin Records */
  /* Inicio Noticias */
  .noticias {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .noticias .columna {
    width: 80%;
  }
  /* Fin Noticias */
}
@media (max-width: 768px) {
  /* Inicio Header */
  header img {
    width: 150px;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  /* Fin Header */
  /* Inicio Index*/
  .index .noticias-index h2 {
    font-size: 20px;
  }
  .index .noticias-index .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item1 item1" "item5 item6" "item2 item2" "item7 item8" "item3 item3" "item9 item10" "item4 item4" "item11 item12";
    width: 80%;
  }
  /* Fin Index*/
  /* Inicio Nosotros */
  .about-us {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .about-us .puntos .punto {
    width: 100%;
  }
  .about-us .puntos .punto h2 {
    font-size: 1.5rem;
  }
  .about-us .puntos .punto p {
    font-size: 1.2rem;
  }
  .about-us .formulario .inputs label {
    font-size: 1rem;
  }
  /* Fin Nosotros */
}
@media (max-width: 600px) {
  header nav ul li a {
    font-size: 0.8rem;
  }
  /* I Nosotros*/
  .about-us {
    padding: 0;
  }
  .about-us .puntos .punto h2 {
    font-size: 1rem;
  }
  /* F Nosotros*/
  .peleadores img {
    width: 150px;
    margin: 0;
    margin-top: -290px;
  }
  .peleadores .h1-records {
    font-size: 3rem;
  }
  .peleadores .peleador {
    flex-wrap: wrap;
    height: 560px;
    background-size: contain;
  }
  .peleadores .peleador .columna-hacia-izq {
    width: 56%;
  }
  .peleadores .peleador .columna-hacia-izq h3, .peleadores .peleador .columna-hacia-izq p {
    font-size: 1.5rem;
    line-height: 20px;
    margin: 10px;
  }
  .peleadores .peleador .columna-hacia-izq h2 {
    font-size: 3rem;
    line-height: 50px;
    margin: 10px 0px 0px 10px;
  }
  .peleadores .peleador .columna-hacia-izq ul li {
    font-size: 25px;
    margin: 5px 0px;
  }
  .peleadores .peleador .columna-hacia-izq h3 {
    font-size: 25px;
    margin: 5px 10px;
  }
  .peleadores .peleador .columna-centrada {
    margin: 0;
    margin-top: -450px;
    width: 100%;
  }
  .peleadores .peleador .columna-centrada h3 {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .videos {
    flex-wrap: wrap;
    height: auto;
  }
  .videos .videos-record {
    height: auto;
  }
  .videos .videos-record .video {
    width: 100%;
    margin: 0;
  }
  .videos-columna .titulo-video {
    font-size: 2rem;
  }
  .videos-columna .videos-record {
    flex-wrap: wrap;
    height: auto;
  }
  .videos-columna .videos-record .video {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 460px) {
  /* Inicio Index*/
  .noticias-index .fila-noticias {
    padding: 0px 0px;
    width: 90%;
  }
  .noticias-index .fila-noticias .col-noticias {
    padding: 0px 0px;
    width: 80%;
  }
  .noticias-index .fila-noticias .col-noticias .noticia {
    width: 300px;
    margin: 15px 0px;
  }
  .noticias-index h2 {
    font-size: 1.5rem;
    margin: 0px 15px;
  }
  .noticias-index h3 {
    font-size: 1.5rem;
  }
  .noticias-index p {
    font-size: 1.2rem;
  }
  .noticias-index .grid-container {
    width: 80%;
  }
  /* Fin Index */
  header nav ul {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  header nav ul li a {
    font-size: 2px;
  }
  /* Inicio Ranking */
  .ranking-section .h1-ranking {
    font-size: 2rem;
  }
  .ranking-section .card {
    height: 780px;
    width: 320px;
  }
  .ranking-section .card ol {
    margin: 0px 0px 0px 30px;
  }
  .ranking-section .card ol li {
    margin-bottom: 5px;
  }
  /* Fin Ranking*/
  /* Inicio Nosotros */
  .about-us {
    margin: 5px 0px;
    width: 100%;
    padding: 15px 0px;
  }
  .about-us .puntos .punto {
    gap: 30px;
  }
  .about-us .puntos .punto h2 {
    width: 30%;
    font-size: 1.4rem;
    margin: 10px 0px;
  }
  .about-us .puntos .punto p {
    margin: 10px 0px;
  }
  .about-us .formulario .inputs {
    padding: 10px 20px;
    width: 90%;
  }
  .about-us .formulario .inputs input {
    width: 90%;
  }
  .about-us .formulario label {
    font-size: 1.2rem;
  }
  .about-us .formulario .btn {
    align-items: center;
  }
  /* Inicio Records */
  .peleadores .peleador .columna-centrada h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .peleadores .peleador .columna-centrada ul li {
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  /* Fin Records */
  /* Inicio Noticias */
  .noticias .columna {
    width: 90%;
    margin: 0px 5px;
  }
  .noticias .columna .noticia-vertical {
    padding: 20px 10px;
  }
  .noticias .columna .noticia-vertical h2 {
    font-size: 1.5rem;
  }
  .noticias .columna .noticia-vertical iframe {
    height: auto;
  }
  .noticias .columna .noticia-vertical p {
    font-size: 1.2rem;
  }
  /* Fin Noticias */
}
@media (max-width: 375px) {
  .peleadores img {
    margin: 0;
    margin-top: -20px;
  }
  .peleadores .peleador {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 700px;
  }
  .peleadores .peleador .columna-centrada {
    width: 100%;
    margin: 0;
    margin-top: -40px;
  }
  .peleadores .peleador .columna-hacia-izq {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 280px;
  }
  .peleadores .peleador .columna-hacia-izq h2, .peleadores .peleador .columna-hacia-izq h3, .peleadores .peleador .columna-hacia-izq p {
    margin: 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .videos .videos-columna .videos-record {
    width: 90%;
  }
  .videos .videos-columna .videos-record .video {
    width: 300px;
  }
  .videos .videos-columna .videos-record .video iframe {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
