/*1ero Utilities*/
/*2do Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
}

main {
  flex: 1;
  height: auto;
  min-height: 100vh;
}

/*3ero Layout*/
header {
  background-color: black;
  width: 100%;
  height: 20%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: italic;
  padding: 0px 10px;
  display: flex;
}
header img {
  margin: 2% 10%;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 2rem;
  font-weight: 800;
  padding: 0px 10px;
}
.navbar-nav .nav-link:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
}

.navbar-toggler-icon {
  padding: 20px;
  border-radius: 5px;
  color: rgba(210, 10, 10, 0.4);
  font-size: 3rem;
  filter: invert(13%) sepia(100%) saturate(7473%) hue-rotate(358deg) brightness(100%) contrast(119%);
}

footer {
  width: 100%;
  background-color: black;
  margin-bottom: 0px;
  margin-top: auto;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
footer .redes .red picture img {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.top-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-main h2 {
  color: black;
  font-size: 4rem;
}
.top-main img {
  width: 100%;
}

.noticias-index {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.noticias-index .grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item1 item2 item2 item3 item3 item4 item4 " "item5 item6 item7 item8 item9 item10 item11 item12";
  padding: 20px 10px;
  align-items: center;
  justify-items: center;
  width: 95%;
  box-shadow: 0px 0px 10px gray;
  margin-top: 20px;
  background: linear-gradient(to top, rgb(255, 46, 46), rgb(255, 154, 161));
}
.noticias-index .grid-container img {
  width: 100%;
  object-fit: contain;
}
.noticias-index .grid-container h3, .noticias-index .grid-container h4 {
  font-size: 1.1rem;
  font-family: "Annapurna SIL", serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  margin: 0px 5px;
  text-align: center;
}
.noticias-index .grid-container .item1, .noticias-index .grid-container .item2, .noticias-index .grid-container .item3, .noticias-index .grid-container .item4 {
  line-height: 20px;
}
.noticias-index .grid-container .item1 h3, .noticias-index .grid-container .item2 h3, .noticias-index .grid-container .item3 h3, .noticias-index .grid-container .item4 h3 {
  font-weight: 700;
}
.noticias-index .grid-container .item5, .noticias-index .grid-container .item7, .noticias-index .grid-container .item9, .noticias-index .grid-container .item11 {
  background: linear-gradient(to left, rgba(210, 10, 10, 0.7), rgba(210, 10, 10, 0.1));
  margin-left: 5px;
  background-color: black;
}
.noticias-index .grid-container .item6, .noticias-index .grid-container .item8, .noticias-index .grid-container .item10, .noticias-index .grid-container .item12 {
  background: linear-gradient(to right, rgba(210, 10, 10, 0.7), rgba(210, 10, 10, 0.1));
  margin-right: 5px;
  background-color: black;
}
.noticias-index .grid-container .item1 {
  grid-area: item1;
}
.noticias-index .grid-container .item2 {
  grid-area: item2;
}
.noticias-index .grid-container .item3 {
  grid-area: item3;
}
.noticias-index .grid-container .item4 {
  grid-area: item4;
}
.noticias-index .grid-container .item5 {
  grid-area: item5;
}
.noticias-index .grid-container .item6 {
  grid-area: item6;
}
.noticias-index .grid-container .item7 {
  grid-area: item7;
}
.noticias-index .grid-container .item8 {
  grid-area: item8;
}
.noticias-index .grid-container .item9 {
  grid-area: item9;
}
.noticias-index .grid-container .item10 {
  grid-area: item10;
}
.noticias-index .grid-container .item11 {
  grid-area: item11;
}
.noticias-index .grid-container .item12 {
  grid-area: item12;
}
.noticias-index h2 {
  color: rgb(255, 255, 255);
  background-color: rgb(210, 10, 10);
  padding: 60px 15px 15px 15px;
  margin: 0px 15px 15px 15px;
  font-size: 2rem;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-weight: 800;
}
.noticias-index .fila-noticias {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  height: auto;
  margin: 20px 0px;
  width: 90%;
  flex-wrap: wrap;
}
.noticias-index .col-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.noticias-index .col-noticias .noticia {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 330px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 0px 10px gray;
  border: 5px r silver;
  margin: 15px 10px;
}
.noticias-index .col-noticias .noticia a, .noticias-index .col-noticias .noticia p, .noticias-index .col-noticias .noticia h2, .noticias-index .col-noticias .noticia h3 {
  margin: 10px;
}
.noticias-index .col-noticias .noticia h3 {
  font-family: "Times New Roman", serif;
  font-weight: 700;
  text-align: center;
}
.noticias-index .col-noticias .noticia a {
  margin-top: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding-top: 15px;
  color: gray;
  text-decoration: none;
}
.noticias-index .col-noticias .noticia h2 {
  font-size: 2rem;
  text-align: center;
}
.noticias-index .col-noticias .noticia p {
  font-size: 1.5rem;
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.noticias-index .col-noticias .noticia img {
  width: 100%;
  margin-top: 0px;
}

.noticias {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.noticias img {
  width: 600px;
  object-fit: contain;
}
.noticias h2, .noticias h3, .noticias td, .noticias th, .noticias p {
  color: black;
}
.noticias h2 {
  text-align: center;
  font-size: 2rem;
}
.noticias p {
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 10px 5px;
}
.noticias .columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 50%;
  margin: 0px 50px auto 50px;
}
.noticias .columna .noticia-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 40px 15px 40px 15px;
  margin: 20px 0px;
  box-shadow: 0px 0px 20px silver;
}
.noticias .columna .noticia-vertical h2 {
  margin-top: 10px;
  font-family: "Times New Roman", serif;
  font-weight: 700;
}
.noticias .columna .noticia-vertical img {
  width: 95%;
  object-fit: contain;
}
.noticias .columna .noticia-vertical p {
  margin-top: 5px;
}
.noticias .columna .noticia-vertical table tr td {
  padding: 10px 0px;
}

/*# sourceMappingURL=style.css.map */
