/*1ero Utilities*/

/*2do Base*/
@import "./base/reset";

/*3ero Layout*/
@import "./layout/header";
@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/index-main";
@import "./layout/noticias-main"

/*4to Components*/

/*5to todo lo de mediaQ*/
