/*1ero Utilities*/
@import "./utilities/variables";
@import "./utilities/mixins";

/*2do Base*/
@import "./base/reset";

/*3ero Layout*/
@import "./layout/header";
@import "./layout/footer";
@import "./layout/index-main";
@import "./layout/noticias-main";
@import "./layout/nosotros-main";
@import "./layout/ranking-main";
@import "./layout/records-main";

/*4to Components*/
@import "./components/navbar";

/*5to todo lo de mediaQ*/
@import "./layout/mediaQ/1400mq";
@import "./layout/mediaQ/1024mq";
@import "./layout/mediaQ/768mq";
@import "./layout/mediaQ/600mq";
@import "./layout/mediaQ/460mq";
@import "./layout/mediaQ/375mq";



