$rojo-ufc: rgb(210, 10, 10);

$Inter: "Inter", serif;
$DoHyeon: "Do Hyeon", serif;
$Annapurna-SIL: "Annapurna SIL", serif;
$Anton-SC: "Anton SC", serif;
$Times-New-Roman: "Times New Roman", serif;

$colores: (
    rojo-ufc: rgb(210, 10, 10),
    peleador-degrade-interior: rgba(210, 10, 10, 0.7),
    peleador-degrade-exterior: rgba(210, 10, 10, 0.1),
    grid-bottom: rgb(255, 46, 46),
    grid-top: rgb(255, 154, 161),
);