footer {
    width: 100%;
    background-color: black;
    margin-bottom: 0px;
    margin-top: auto;
    .redes{
        @include flex(space-evenly, center, row);
        width: 100%;
        .red{ 
            picture {  
                img {
                    width: 70px;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}