header{
    background-color: black;
    width: 100%;
    height: 20%;
    max-height: 105px;
    nav{
        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            li{
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 30px;
                    font-family: $Inter;
                    font-optical-sizing: auto;
                    font-style: italic;
                    padding: 0px 10px;
                    display: flex;
                }
            }
        }
    }

    img{
        margin: 2% 10%;
    }
}


