.ranking-section {
    .h1-ranking {
        font-family: $Inter;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
        font-size: 80px;
        text-align: center;
        margin: 15px 0px;
        color: map-get($colores, rojo-ufc);
    }
    .fila-ranking {
        @include flex(space-evenly, center, row);
        margin: 30px 10px;
        gap: 30px 0px;
        flex-wrap: wrap;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;
            height: 850px;
            margin: 0px 15px;
            box-shadow: 0px 0px 10px silver;
            ol {
                padding: 15px 15px;
                li {
                    color: rgb(76, 76, 76);
                    line-height: 25px;
                    margin-bottom: 10px;
                    font-family: $Inter;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: medium;
                    font-size: 20px;
                    &::marker {
                        font-weight: bold;
                    }
                }
            }
            h2, h3 {
                margin-bottom: -20px;
            }
            h2 {
                color: black;
                text-align: right;
                margin-left: auto;
                font-size: 48px;
                margin-right: 10px;
            }
            h3 {
                color: map-get($colores, rojo-ufc);
                text-align: left;
                margin-right: auto;
                font-family: $Inter;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: italic;
                font-size: 20px;
            }
            h2, h4 {
                font-family: $Anton-SC;
                font-weight: 400;
                font-style: normal;
            }
            .nombre-peso {
                display: flex;
                flex-direction: row;
                width: 100%;
                text-align: center;
                justify-content: space-between;
                padding: 0px 0px 10px 0px;
                margin: 0px;
                h3 {
                    margin: 10px 0px 0px 10px;
                    font-size: 12px;
                }
                h2 {
                    margin-right: 10px;
                    height: 60px;
                }
            }
            h4 {
                color: gray;
                text-align: right;
                margin-left: auto;
                margin-top: 10px;
                padding: 0px 10px;
            }
            img {
                width: 100%;
                object-fit: contain;
                margin-top: -51px;
            }
            .libra-x-libra {
                margin-top: -17px;
            }
        }
    }
}