@media(max-width:600px) {
    header {
        nav {
            ul {
                li {
                    a {
                    font-size: 0.8rem;
                    }
                }
            }
        }
    }

    /* I Nosotros*/
    .about-us {
        padding: 0;
        .puntos {
            .punto {
                h2 {
                    font-size: 1rem;
                }
            }
        }
    }
    /* F Nosotros*/

    .peleadores {
        img {
            width: 150px;
            margin: 0;
            margin-top: -290px;
        }
        .h1-records {
            font-size: 3rem;
        }
        .peleador {
            flex-wrap: wrap;
            height: 560px;
            background-size:contain;
            .columna-hacia-izq {
                width: 56%;
                h3, p {
                    font-size: 1.5rem;
                    line-height: 20px;
                    margin: 10px;
                }
                h2 {
                    font-size: 3rem;
                    line-height: 50px;
                    margin: 10px 0px 0px 10px;
                }
                ul {
                    li {
                        font-size: 25px;
                        margin: 5px 0px;
                    }
                }
                h3 {
                    font-size: 25px;
                    margin: 5px 10px;
                }
            }
            .columna-centrada {
                margin: 0;
                margin-top: -450px;
                width: 100%;
                h3 {
                    margin-top: 35px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .videos {
        flex-wrap: wrap;
        height: auto;
        .videos-record {
            height: auto;
            .video {
                width: 100%;
                margin: 0;
            }
        }
    }

    .videos-columna {
        .titulo-video {
            font-size: 2rem;
        }
        .videos-record {
            flex-wrap: wrap;
            height: auto;
            .video {
                width: 100%;
                margin: 0;
            }
        }
    }
}